@page "/leagues/add"
@inject NavigationManager Navigation
@inject LeagueService leaguesService
@using LigaHowden.Data
@using LigaHowden.Requests;
@using LigaHowden.Requests.ApiRequests

<div class="row mt-4">
    <div class="d-flex align-items-center">
        <h1>Ligas</h1> - <h2>Adicionar</h2>
    </div>
</div>
<div class="row">
    <EditForm Model="@this" OnValidSubmit="CreateLeague">
        <div class="mb-3">
            <label for="InputName" class="form-label">Nome da Liga</label>
            <input type="text" class="form-control" id="InputName" @bind="Nome">
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
    </EditForm>
</div>


@code {
    public string? Nome { get; set; }

    private async Task CreateLeague()
    {
        try
        {
            LeagueCreateRequest leagueCreateRequest = new LeagueCreateRequest
            {
                Name = this.Nome
            };

            var league = await leaguesService.CreateLeague(leagueCreateRequest);
            Navigation.NavigateTo("/leagues", true);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

