@page "/leagues/add"
@inject NavigationManager Navigation
@inject LeagueService leaguesService
@using LigaHowden.Data


<div class="row mt-4">
    <div class="d-flex align-items-center">
        <h1>Ligas</h1> - <h2>Adicionar</h2>
    </div>
</div>
<div class="row">
    <form>
        <div class="mb-3">
            <label for="InputName" class="form-label">Nome da Liga</label>
            <input type="text" class="form-control" id="InputName" @bind="leagueName">
        </div>
        <button type="submit" class="btn btn-primary" @onclick="CreateLeague">Criar</button>
    </form>
</div>


@code{
    string leagueName;

    //load leagues from the server after page is loaded
    protected override async Task OnInitializedAsync()
    {

    }

    private async Task CreateLeague()
    {
        LeagueCreateRequest leagueCreateRequest = new LeagueCreateRequest()
        {
            Name = this.leagueName    
        };
        var league = await leaguesService.CreateLeague(leagueCreateRequest);
        Navigation.NavigateTo("/leagues", true);
    }
}
