@page "/leagues/admin/{id}"
@attribute [Authorize]
@inject LeagueService leagueService
@inject ProtectedSessionStorage sessionStorage

<div class="row mt-4">
    <div class="d-flex">
        <h1>@LeagueName</h1> - <h2>Opções</h2>
    </div>
    <div>
        <NavLink href="@($"/leagues/admin/{Id}")">Opções</NavLink> - 
        <NavLink href="@($"/leagues/admin/{Id}/teams")">Times</NavLink>
    </div>
</div>
<div class="row">

</div>


@code {
    [Parameter]
    public string Id { get; set; }
    string apiToken =   "";
    string LeagueName = "";
    string SearchTeam = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (apiToken == "")
            {
                var token = await sessionStorage.GetAsync<string>("apiToken");
                apiToken = token.Value;
            }
            var league = await leagueService.GetLeague(Id, apiToken);
            LeagueName = league.Name;
            StateHasChanged();
        }
    }

    protected async Task SearchTeams()
    {
    }
}
