@page "/leagues"
@using LigaHowden.Data


<div class="row mt-4">
    <div class="d-flex align-items-center">
        <h1>Ligas</h1>
        <a href="/leagues/add" class="btn btn-primary"><span class="oi oi-plus"></span></a>
    </div>
</div>
<div class="row">
    <table class="table table-sm">
        <tr>
            <th>Nome</th>
            <th>Slug</th>
            <th>Ações</th>
        </tr>
        @foreach (var l in leagues)
        {
            <tr>
                <td>@l.Name</td>
                <td>@l.Slug</td>
                <td>
                    <a href="/leagues/@l.Slug">ver</a>
                    <a href="/leagues/admin/@l.Id">admin</a>
                    <a href="/delete/@l.Id">deletar</a>
                </td>
            </tr>
        }
    </table>
</div>


@code{
    List<League> leagues;

    //load leagues from the server after page is loaded
    protected override async Task OnInitializedAsync()
    {
        LeagueService leaguesService = new();
        this.leagues = leaguesService.GetLeaguesResponse().Leagues;
    }
}
